{% extends "accounts/base.html" %}
{% block title %}Verify Request {% endblock %}
{% block content %}
            <h1> Pending Requests</h1>

            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

            {% if pending %}
                {% for req in pending %}
                   <div class ="input-group">
                    <p>{{ req.username}} - age {{ req.age }}</p>
                    <form method="post" style="display:inline">
                        {% csrf_token %}
                        <input type="hidden" name="username" value="{{req.username}}">
                        <button type="submit" name="action" value="allow">Allow</button>
                        <button type="submit" name="action" value="deny">Deny</button>

                    </form>
                   </div>
                {% endfor%}
            {% else %}
               <p class="subtitle">No pending requests</p>
            {% endif %}
{% endblock %}