{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/home.css' %}">
    </head>
    <body>
        <div class="auth-contianer">
            <div class="auth-box">
                <h1>Welcome, {{ request.user.username }}<h1>
                <p class="subtittle">You are sucessfully logged in.</p>
            </div>
        </div>
    </body>
</html>