{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/home.css' %}">
    </head>
    <body>
        <div class="auth-contianer">
            <div class="auth-box">
                <h1>Welcome, {{ request.user.username }}</h1>
                <p class="subtittle">You are sucessfully logged in.</p>

                <p class="bottom-text"><a href="{% url 'user_list' %}">Messsage Users</a></p>
                <p class="bottom-text"><a href="{% url 'inbox' %}">Inbox</a></p>
                {% if request.user.profile.role == "admin" %}
                    <p class="bottom-text"><a href="{% url 'admin_verify' %}">Verify Registratiions</a></p>
                    <p class="bottom-text"><a href="{% url 'admin_check_messages' %}">Check Messages</a></p>
                    <p class="bottom-text"><a href="{% url 'admin_remove_users' %}"> Remove users </a> </p>
                {% endif %}

                <p class="bottom-text"><a href="{%url 'logout' %}">Logout</a></p>
            </div>
        </div>
    </body>
</html>