{% extends "accounts/base.html" %}
{% block title %}Send Messages{% endblock %}
{% block content %}
            <h1>Message {{ receiver.username }}</h1>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" rows="4"></textarea>
                </div>
                <button type="submit">Send</button>
            </form>

            <p class="bottom-text"><a href="{% url 'user_list' %}">Back to users</a></p>
{% endblock %}